<div class="modular-row modular-home-intro script-parallax" data-offset="0" data-ratio="8" data-background="/wp-content/themes/wp-theme-fg/assets/images/templates/background-palm-trees-turks-and-caicos.jpg" >
   <div class="modular-anchor"  data-scroll></div>
   <div class="flex-center-xy fg-wow fadeIn" data-wow-duration="2s" data-wow-offset="100" >
       <div class="section-container">{{content}}</div>
    
   </div>
   <div class="script-text">The cool side of classic.</div>             
         
</div>
