<div style="height: 800px; background-color: #ccc;">
     <div class="modular-row "  >
        <div class="modular-anchor" id="" data-scroll>
            <div style="text-align: center; padding: 225px 0;"><h1>Intro Section</h1></div>
        </div>
     </div>
</div>