<div style="height: 600; background-color: #green;">
     <div class="modular-row "  >
        <div class="modular-anchor" id="" data-scroll>
            <div style="text-align: center; padding: 250px 0;"><h2>Awards</h2></div>
        </div>
     </div>
</div>