{% extends 'base.twig' %}
{% block content %}
{% set content %}
<div class="column-wrapper">
	<h1 class="archive-title">{{archive_title}}</h1>
	<ul id="blog-articles">
	{% for article in posts%}
		<li>{% include "article.twig" with { "article" : article, "loop" : loop, "class" : "article-page-default" } only %}</li>
	{% endfor %}
	</ul>
</div>
{% endset %}
{% include 'base-page.twig' with {
	page_class_content : config.settings.article.grid.left.class,
	page_class_sidebar : config.settings.article.grid.right.class,
	page_widget_sidebar: widget_blog_sidebar,
	page_content : content
	}
%}
{% endblock %}
