{% extends 'base.twig' %}
{% block content %}

{% set content %}
<h1>{{post.title}}</h1>
{{post.content}}
{% if post.children is defined %}
  <ul class="index-container" >
      {% for child in post.children %}
          {% include 'article-list-element.twig' with {'article' : child }   %}
      {% endfor %}
  </ul>
{% endif %}

{% endset %}

{% include 'base-page.twig' with {
	page_class_content : config.settings.page.grid.left.class,
	page_class_sidebar : config.settings.page.grid.right.class,
	page_widget_sidebar: widget_page_sidebar,
	page_content : content
	}
%}
{% endblock %}
