{% extends 'base.twig' %}
{% block content %}
{% set content %}
<h1>Page Not Found (404)</h1>
<h2>WHOA! WE DIDN'T SEE THAT COMING!</h2>
<p>Unfortunately, the page you were attempting to access doesn't exist now (or maybe it never existed). Here's what we suggest:</p>
<ol>
  <li>If you got here from an external link, please notify the administrator of the site that he/she is linking to a broken link.</li>
  <li>If you got here from an external link, please notify the administrator of the site that he/she is linking to a broken link.</li>
  <li>If you got here from a link on this web site, please notify our webmaster at webmaster@fifthgeardev.com.</li>
  <li>If you got here some other way, the best solution is to return to the homepage and try navigating from there.</li>
</ol>
<p>If you got here some other way, the best solution is to return to the homepage and try navigating from there.<br/>Have a great day!</p>
<p>Tech Support</p>
{% endset %}
{% include 'base-page.twig' with {
	page_class_content : config.settings.page.grid.left.class,
	page_class_sidebar : config.settings.page.grid.right.class,
	page_widget_sidebar: widget_page_sidebar,
	page_content : content
	}
%}
{% endblock %}
