{% extends 'base.twig' %}	
{% block content %}	
	{# include 'partials/hero-snippet.html.twig' with { 'thisPage' : page , 'thisIndex' : page.find('/blog')} #}	
	<div class="modular">
		<div class="modular-row "  >
			<div class="modular-anchor" id="{{ page.slug() }}" data-scroll></div>
			<div class="container">						
				<div class="row">
					<div class="col-sm-12">
						<div class="column-wrapper">
							{% include 'breadcrumbs.twig' ignore missing only %}							
							{% include "article.twig" with { "article" : post, "loop" : loop } %}												
						</div>
					</div>						
				</div>
			</div>
		</div>
	</div>	
{% endblock %}