{% extends 'base.twig' %}

{% block content %}	
    <div class="modular sidebar-left">
        <div class="modular-row "  >
            <div class="modular-anchor" id="{{ page.slug() }}" data-scroll></div>
            <div class="container">   
            
                <div class="row">
                    <div class="{{config.settings.contact.grid.left.class | default('col-sm-12') }}>
                        <div class="main-col-wrapper">
                            {% include 'breadcrumbs.twig' ignore missing only %} 
                            {% include "article.twig" with { "article" : post, "loop" : loop } %}                      
                            
                        </div>
                    </div>
                    {% if config.settings.contact.grid.right.class is defined %}
                    <div class="{{config.settings.contact.grid.right.class}}">
                        <div id="sidebar">
                            <div id="sidebar-wrapper">
                                <div class="sidebar nav hidden-xs" >
                                    <ul class="widget-section">
                                        {{widget_contact_sidebar}}
                                    </ul>                                    
                                </div>
                            </div>                                    
                        </div>                         
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>	
{% endblock %}
