{% extends 'base.twig' %}
{% block content %}	
    <div class="{{config.settings.pagelist.class |default('')}} {% if config.settings.pagelist.grid.right.class is defined %}sidebar{% endif %}">
        <div class="container">
            <div class="row">
                <div class="{{config.settings.pagelist.grid.left.class | default('col-sm-12')}}">
                    <div class="column-wrapper">
                    {% include 'breadcrumbs.twig' ignore missing only %}
                    {% if post.children is defined %}
                    <ul class="index-container" >
                        {% for child in post.children %}
                            {% include 'article-list-element.twig' with {'article' : child }   %}
                        {% endfor %}                            
                    </ul>
                    {% endif %}     				
                    </div>
                </div>
                {% if config.settings.pagelist.grid.right.class is defined %}
                <div class="{{config.settings.pagelist.grid.right.class}}">                       
                    <ul class="widget-section">
                        {{widget_page_sidebar}}
                    </ul>                              
                </div>
                {% endif %}
            </div>   
        </div>
    </div>	
       
{% endblock %}

