{% extends 'base.twig' %}
{% block content %}	
<div class="modular sidebar">
    <div class="modular-row "  >
        <div class="modular-anchor" id="{{ page.slug() }}" data-scroll></div>
        <div class="container">
            <div class="row">
                <div class="{{config.settings.article.grid.left.class | default('col-sm-12')}}">
                    <div class="column-wrapper">
                    {% include 'breadcrumbs.twig' ignore missing only %}
                    {% for article in posts%}
                        {% include "article.twig" with { "article" : article, "loop" : loop, "class" : "article-single-default" } only %}
                    {% endfor %}
                    
                    </div>
                </div>
                {% if config.settings.article.grid.right.class is defined%}
                <div class="{{config.settings.article.grid.right.class}}">                       
									<div id="sidebar">
										{% include 'blog-sidebar.twig' ignore missing %}
										<ul class="widget-section">
											{{widget_blog_sidebar}}
										</ul>   
									</div>                         
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>	
{% endblock %}