{# base.twig #}
<!DOCTYPE html>
<html {{site.language_attributes()}}>
    <head> 
        {% include "wp/header.twig" %}
        {% block head %}
            <!-- This is where you'll put template-specific stuff that needs to go in the head tags like custom meta tags, etc. -->
        {% endblock %}
    </head>
    <body class="{{body_class}}">
        {% include 'navigation.twig' %}
		{% if slideshow_items is defined and not slideshow_items is null %}
		{% include 'bootstrap-carousel.twig' with {'id':'fgms-wp-carousel','items':slideshow_items} only %}
		{% endif %}
        {% block content %}
            <!-- The template's main content will go here. -->
        {% endblock %}
        {% include "footer.twig" %}
        <footer class="footer"></footer>
		{% include "wp/footer.twig" %}
    </body>
</html>