<article class="article {{class}}" itemscope itemtype="http://schema.org/Article">
{% if loop.length == 1 %}
    <h1 class="article-title" itemscope="name">{{ article.title }}</h1>
    {% else %}
    <h2 class="article-title" itemscope="name">{{article.title}}</h2>    
{% endif %}

    <div  itemprop="articleBody">{{  article.content }}</div><!-- articleContent -->
</article>