

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></button>   
    
</div>
<div class="modal-body">
    <h2 class="modal-title">{{title}}</h2>
    {{content}}
</div>
<div class="modal-footer">
    <a href="#" class="" data-dismiss="modal">Close</a>
</div>



