@gallery-grid-border: 1px solid transparent;
@gallery-grid-overlay-color: #fff;
@gallery-grid-overlay-background-image: theme_url('/assets/images/background-000000-opacity60.png');
@gallery-grid-overlay-background-color: transparent;
@gallery-grid-overlay-padding: 24px 8px;
@gallery-grid-social-color: #fff;
@gallery-grid-social-color-hover: #fff;


.gallery-filters {
	text-align: center;
	margin: 24px 0 36px;
	.btn {
		min-width: 190px;
	}
}

.__st_gallery_title_caption {
	padding: 12px 0 32px;
	line-height: 1.3em;
	.__st_gallery_title {
		font-weight: 400;
	}
	.__st_gallery_caption {
		font-style: italic;
	}
}

.__st_gallery_feature_content {
	position: relative;
	height: 250px;
	.transition(0.25s);
	.transform-scale(0.98, 0.98);
	> * {
		height: 250px;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		.opacity(0);
		.transition(0.25s);
		z-index: -1;
		&.active {
			z-index: 1;
			.opacity(1);
			.transition(0.25s);
		}
	}
	img {
			height: 0px;
			visibility: hidden;
	}

	a {
		background-position: center;
		display: block;
		&:after {
			content: '\f08e';
			font-family: FontAwesome;
			position: absolute;
			color: #fff;
			text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
			font-size: 32px;
			right:10px;
			top:12px;
			height: 100%;
			.opacity(0);
			.transition(0.2s);
		}
		&:hover {
			&:after {
				.opacity(1);
				.transition(0.5s);
			}

		}
	}
	&:hover {
		.transform-scale(1, 1);
		.transition(0.75s);
	}
}

.__st_gallery_thumb_wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	&:after, &:before {
		clear: both;
		content: ' ';
		display: table;
	}
	li {
		width: 20%;
		height: 50px;;
		position: relative;
		margin-bottom: 8px !important;
		//.transition(0.2s);
		/*.transform-scale(0.95, 0.95);*/
		img {
				height: 0px;
				visibility: hidden;
		}
		a {
			display: block;
			position: relative;
			background-position: center;
			height: 100%;
			margin: 4px ;
			&:before {
				content: ' ';
				font-family: FontAwesome;
				color: #fff;
				padding: 0 4px;
				font-size: 0.9em;
				background-color: rgba(0,0,0,0);
				height: 100%;
				width: 100%;
				position: absolute;
				text-align: right;
				.transition(0.3s);
			}
			&:after {
				content: ' ';
				text-align: center;
				line-height: 1em;
				color: #fff;
				width: 100%;
				top: 100%;
				position: absolute;
				font-family: FontAwesome;
				text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
				.transform-scale(0,0);
			}
			&:hover {
				background-color: transparent;
				&:before {
					background-color: rgba(0,0,0,0.3);
				}
				&:after {
					content: '\f002';
					top: 42%;
					.transition(0.5s);
					.transform-scale(1.4, 1.4);
				}
			}
		}
		&.fg-youtube-play {
			a {
				&:before {
					content:  '\f008';
					.opacity(0.85);
				}
				&:hover {
					&:before {
						.opacity(1);
						.transition(0.1s);
					}
					&:after {
						content: '\f16a';
					}
				}
			}
		}
	}
}

article {
	.__st_gallery_thumb_wrapper {
		img {
			border: 0;
		}
	}
	.__st_gallery_feature_content {
		background-color: #fff;
		width: 100%;
		border: 0;
	}
}

.gallery-grid-20 li {
	width: 20%;
}

.gallery-grid-6 li {
	width: 16.666%
}

.gallery-grid-5 li {
	width: 20%
}

.gallery-grid-4 li {
	width: 25%
}

.gallery-grid-3 li {
	width: 33.33332%
}

.gallery-grid-2 li {
	width: 50%
}

.gallery-grid-1 li {
	width: 100%
}




.zoom-overlay-wrapper {
	.image-wrapper {
		position: relative;
		overflow: hidden;
		margin: 0 auto 24px;
		img {
			.transition(0.75s);
			.transform-scale(1, 1);
		}
		.image-overlay {
			position: absolute;
			display: flex;
			text-align: center;
			width: 100%;
			top: 0;
			height: 100%;
			padding: 15px;
			display: flex;
			flex-flow: row wrap;
			font-size: 1.2em;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding-top: 0;
				color: #fff;
			}
			.image-overlay-action {
				display: flex;
				align-self: flex-end;
				margin: 0 auto;

			}
			background-color: rgba(0, 0, 0, 0.65);
			color: #fff;
			line-height: 1.2em;
			.opacity(0);
			.transition(0.75s);
		}
		&:hover {
			img {
				.transform-scale(1.1, 1.1);
				.transition(0.75s);
			}
			.image-overlay {
				.opacity(1);
				.transition(1s);
			}
		}
	}
	@media screen and (min-width: @screen-md-max) {
		.image-wrapper {
			.image-overlay {
				padding: 15px;
				font-size: 0.85em;

			}
		}
	}
	@media screen and (min-width: @screen-lg-max) {
		.image-wrapper {
			.image-overlay {
				padding: (15px * 2);
				font-size: 0.9em;
			}
		}
	}
}

.touch {
	.overlay-on-touch {
		.zoom-overlay-wrapper {
			.image-wrapper {
				.image-overlay {
					.opacity(0.8);
					.transition(1s);
				}
			}
		}
	}
}
