ul.widget-section {
    list-style: none;
    padding: 0;
    margin: 0 0 12px;
}



article {
 
	#commentsTitle {margin-top: -18px;}
	
	a, a:focus, a:visited, a:active, .panel-default > .panel-heading a, .panel-default > .panel-heading a:visited, .panel-default > .panel-heading a:active {		
		text-decoration: none;
	}
	a:hover, .panel-default > .panel-heading a {		
		text-decoration: none;
	}	
	.subtitle {}
	
	.article-date{
		font-size: 1.4em;
		margin-bottom: 12px;
	}
	.article-summary {
		font-style: italic;
		font-size: 0.9em;		
	}

	.article-footer {
		.posted-by {
			margin-bottom: 8px;
		}
		.tags {
			padding-top: 18px;
		}
        padding-top: 8px;      
		line-height: 1.4em;
		font-size: 1em;
		.btn {margin-bottom: 4px; margin-right: 4px; }
        .posted-by {
            span { font-style: italic;}         
            
        }		
	}
	.learn-more-link {
		font-style: normal;		
        white-space: nowrap;
		&:hover { }
		i {
			margin-left: 4px;					
			padding-top: 1px;			
		}
	}
	.comment-link {line-height:2.6em;}
    img {				
		max-width: 100%;
    }
}
