{# base.twig #}
<!DOCTYPE html>
<html {{site.language_attributes()}}>
    <head> 
        {{wp_head}}
        {% block head %}
            <!-- This is where you'll put template-specific stuff that needs to go in the head tags like custom meta tags, etc. -->
        {% endblock %}
		{% block styles %}{% endblock %}
    </head>
    <body class="{{body_class}}">
	
	{% if slideshow is defined and not slideshow is null %}
		{% include 'bootstrap-carousel.twig' with slideshow only %}
	{% else %}
		{% include 'custom-slideshow.twig' ignore missing only %}
	{% endif %}
	{% include 'navigation.twig' %}
	{% block content %}<!-- The template's main content will go here. -->{% endblock %}
	{% block footer%}
		
	{% endblock %}	
	{% include "footer.twig" %}
	<!-- Modal -->
	<div id="general-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{% include 'modal-inner.twig' with {title: '' , content : '' } %}
			</div>
		</div>
	</div>

	</div>	
	
	{% block scripts %}{% endblock %}
	{{wp_footer}}
	
    </body>
</html>